.createUser {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.createUserForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.createUserErrors {
  margin-top: 20px;
}

.createUserErrors ul {
  list-style-type: none;
  padding: 0px;
}

.providerLogo {
  margin-top: 10px !important;
}
.providerLogo img {
  margin-right: 5px;
}

.providerLogos {
  display: flex;
  flex-direction: column;
}
