
.searchModal {
	max-width: 300px;
	max-height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.friendsModal {
	max-width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.friendsBox {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 20px;
	border-radius: 5%;
}
/* these are separate just in case more styling is done on the search box */
.searchBox {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 20px;
	border-radius: 5%;
    /* overflow: scroll; // I want it to scroll but the scrollbar is ugly*/
}

.searchHeader {
    vertical-align: top;
}

.friendsClose {
	cursor: pointer;
}