.gamePlay {
  height: 100vh;
}

.gameGrid {
  height: 100vh;
}

.statusBar {
  height: 6vh;
}

.gridColumn {
  height: 84vh;
}

.gridColumn button, .gridRow button
{
    width: 100%;
    height: 100%;
    color: #FFCC00;
    font-family: Impact, Arial, sans-serif;
    background-color: #060CE9
}

.gridColumn button
{
    font-size: 72px;
}

.gridColumn button:disabled
{
    opacity: 50%;
    color: #fffaea;
}

button.gridHeader
{
    height: 16vh;
    color: white;
}

button.gridHeader div
{
    width: 100%;
    font-size: 2.8em
}
